In [1]:
import pandas as pd
import numpy as np
import os
import re

In [2]:
blog = open("en_US.blogs.txt", encoding="utf8").read()
blogSize = os.stat("en_US.blogs.txt")
print(blogSize.st_size, " bytes")

210160014  bytes

In [3]:
tweets = open("en_US.twitter.txt", encoding="utf8").read()
tweetSize = os.stat("en_US.twitter.txt")
print(tweetSize.st_size, " bytes")

167105338  bytes

In [4]:
news = open("en_US.news.txt", encoding="utf8").read()
newSize = os.stat("en_US.news.txt")
print(newSize.st_size, " bytes")

205811889  bytes

In [19]:
#Eliminar url
blog = [re.sub('\w+:\/{2}[\d\w-]+(\.[\d\w-]+)*(?:(?:\/[^\s/]*))*','',i) for i in blog]
blog = [re.sub(r'^https?:\/\/.*[\r\n]*', '', i) for i in blog]

news = [re.sub('\w+:\/{2}[\d\w-]+(\.[\d\w-]+)*(?:(?:\/[^\s/]*))*','',i) for i in news]
news = [re.sub(r'^https?:\/\/.*[\r\n]*', '', i) for i in news]

tweets = [re.sub('\w+:\/{2}[\d\w-]+(\.[\d\w-]+)*(?:(?:\/[^\s/]*))*','',i) for i in tweets]
tweets = [re.sub(r'^https?:\/\/.*[\r\n]*', '', i) for i in tweets]

### Se hace la eliminación de caracteres especiales, numeros y emojis
tweets = [re.sub('[^a-zA-Z0-9 _]+','', i) for i in tweets]
news = [re.sub('[^a-zA-Z0-9 _]+', '', i) for i in news]
blog = [re.sub('[^a-zA-Z0-9 _]+', '', i) for i in blog]

In [20]:
tweets_ = ''
news_ = ''
blog_ = ''

for i in tweets:
    tweets_ += i
    
for i in news:
    news_ += i
    
for i in blog:
    blog_ += i

In [21]:
tweets_ = tweets_.lower()
news_ = news_.lower()
blog_ = blog_.lower()

tweets_array = tweets_.split(" ")
news_array = news_.split(" ")
blog_array = blog_.split(" ")

### Frecuencia en tweets

In [22]:
frec_dic_tweets = {}
for word in tweets_array:
    if word in frec_dic_tweets:
        frec_dic_tweets[word] += 1
    else:
        frec_dic_tweets[word] = 1

tweets_frecuency = pd.DataFrame.from_dict(frec_dic_tweets, orient='index')
tweets_frecuency

                           0
how                    61181
are                   149133
you                   472056
btw                     1821
thanks                 36247
...                      ...
bailjumper                 1
fartedlets                 1
outstandingwhats           1
misunderstandinghaha       1
247u                       1

[1537897 rows x 1 columns]

### Frecuencia en noticias

In [23]:
frec_dic_news = {}
for word in news_array:
    if word in frec_dic_news:
        frec_dic_news[word] += 1
    else:
        frec_dic_news[word] = 1

news_frecuency = pd.DataFrame.from_dict(frec_dic_news, orient='index')
news_frecuency

                     0
he              213387
wasnt             8715
home             27091
alone             2523
apparentlythe        2
...                ...
pejaver              1
muslimswell          1
performedserve       1
piromari             1
broccolithat         1

[998537 rows x 1 columns]

### Frecuencia en blogs

In [24]:
frec_dic_blogs = {}
for word in blog_array:
    if word in frec_dic_blogs:
        frec_dic_blogs[word] += 1
    else:
        frec_dic_blogs[word] = 1

blogs_frecuency = pd.DataFrame.from_dict(frec_dic_blogs, orient='index')
blogs_frecuency

                     0
in              575651
the            1794547
years            32994
thereafter         196
most             38401
...                ...
dashkov              1
reviewshes           1
weekendplus          1
great5               1
sustainablein        1

[950373 rows x 1 columns]